@import 'normalize';
@import 'colors';
@import 'fonts';
@import 'flex';
@import 'card';

body {
  font-family: 'Roboto-Bold', Fallback, sans-serif;
  font-size:1.4rem;
  color: $dark-grey;
}

#main-container {
  width: auto;
  margin: 1rem;
}

@media screen and (min-width: 800px) { 
  #main-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
  }
}

h1, h2, h2 {
  margin-top: 0;
}

h1 {
  margin-bottom: .5rem;
}

link {
  font-size: auto;
}

.button {
  padding: 1rem 2rem;
  color: white;
  background-color: $link-blue;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing:2px;

  &:disabled {
    background-color:$grey;
  }
}

button.link--controls {
  border: none;
  background: none;
  text-decoration: underline;
  color: $link-blue;
  padding:0 .5rem;
}

.margin--vert {
  margin: 1rem 0;
}

.margin--bottom {
  margin-bottom: 1rem;
}

textarea {
  width: 100%;
  height: 4rem;
  border: $grey 1px solid;
}

input[type='text'], input[type='password'] {
  width: 80%;
  height: 2rem;
  border: $grey 1px solid;
  border-radius: 3px;
}

label {
  display: block;
  margin-bottom:.5rem;
}

.text--error {
  color: red;
  font-size: 1rem;
  line-height: 2;
}

#login-card {
  max-width: 400px;
  margin-left:auto;
  margin-right: auto;
  padding: 2rem ;
}


body {
  background-image: url("https://i.pinimg.com/originals/ef/04/13/ef0413d8b7a3bbc39431a27e58f08251.jpg");
}

.page {
  background: white;
}

#profile-head {
  padding: 2rem;
}

.display--block {
  display: block;
}
.img--thumbnail {
  width: 120px;
  height: 120px;
}

.text--muted {
  color: grey;
  font-size: 1.25rem;
}

.text--date {
  color: $dark-grey;
  font-size: 1rem;
}



