
.flex {
  display: flex;
  justify-content: flex-start;
}

.flex--column {
  @extend .flex;
  flex-direction: column;
  align-items: flex-start;

  &.centered {
    align-items: center;
  }
  .align--right {
    align-self: flex-end;
  }
}

.flex-item {
  margin-right: 1rem;
}

.flex-item--shrink {
  @extend .flex-item;
  flex-shrink: 1;
}
