@import 'colors';

.card {
  border: 1px solid $grey;
  padding: 1rem;
  margin: 1rem 0rem;
}

.flex {
  display: flex;
  justify-content: flex-start;
}

.flex--column {
  @extend .flex;
  flex-direction: column;
  align-items: flex-start;

  .align--right {
    align-self: flex-end;
  }
}

.flex-item {
  margin-right: 1rem;
}

.flex-item--shrink {
  @extend .flex-item;
  flex-shrink: 1;
}

.img--thumbnail {
  width: 120px;
  height: 120px;
}

.text--muted {
  color:gray;
}


